
.clearfix:before,.clearfix:after{
    content:"";
    display: table;
}
.clearfix:after{
    clear: both;
}
a{
    color: rgb(3, 3, 3);
    text-decoration: none;

}
 a:hover{
     text-decoration: underline;
 }

 input[type="username"],
 input[type="password"],
 input[type="User_name"],
 input[type="User_last"],
 
 input[type="User_email"],
 input[type="User_tel"]{
    width:200px;
    border-radius:2px;
    padding:10px;
    columns: #333333;
    font-size:14px;
    margin-top:10px;
 }
 input[type="submit"]{
     padding: 10px 25px 8 px;
     color:#fff;
     background-color: #FFAAA5;
     text-shadow: 0 1px 0 rgba(0, 0,0, .25);
     font-size: 24px;
     box-shadow:rgba(255, 255,255, .25) 0 2px 0 0 inset,#fff 0 1px 0 0 ;
     border:1px solid #FFAAA5;
     border-radius: 2px;
     margin-top:10px;
     cursor: pointer;
 }

 input[type="submit"]:hover{
     background-color: #FFAAA5;
 }